@import "reset";

html {
  font-size: 62.5%;
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 14px;
  }
}

body {
  position: relative;
  height: 100%;
  min-width: 320px;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "Yu Gothic", Verdana, Meiryo, sans-serif;
  -webkit-font-smoothing: antialiased;
  word-break: break-all;
  background: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

.header {
  padding: 16px 0;
  box-shadow: rgba(0, 0, 0, .2) 0 2px 4px;
  &__inner {
    display: flex;
    justify-content: space-between;
    max-width: 960px;
    margin: auto;
    &__action {
      padding: 0;
      border: none;
      &_add {
        padding: 4px 20px;
        background: #11BEDD;
        border: 1px solid #11BEDD;
        border-radius: 2px;
        color: #fff;
      }
    }
    &__icon {
      color: #11BEDD;
    }
  }
}

.icon-setting:after {
  content: "\f013";
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  color: #11BEDD;
}

.container {
  font-size: 14px;
  color: #333;
}

.localnav-area {
  margin-top: 16px;
  border-bottom: solid 1px #C4C4C4;
  &__box {
    max-width: 960px;
    margin: auto;
  }
}

.localnav {
  display: flex;
  &__item {
    padding: 12px;
    color: #666;
    &:hover {
      cursor: pointer;
      color: #101010;
      background: #f3f3f3;
      padding-top: 6px;
      border-radius: 4px 4px 0 0;
      border-top: 6px solid #f3f3f3;
    }
    &--active {
      margin-bottom: -1px;
      padding: 12px;
      padding-top: 6px;
      border: solid 1px #C4C4C4;
      border-bottom: 1px solid #fff;
      border-radius: 4px 4px 0 0;
      border-top: 6px solid #11BEDD;
    }
  }
}

.content {
  max-width: 960px;
  margin: auto;
  margin-top: 20px;
}

.casette-kpt {
  display: flex;
  margin-bottom: 16px;
  padding: 12px 8px;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, .2) 2px 2px 6px;
  &__left {
    padding: 0 12px;
  }
  &__center {
    padding: 8px 0;
  }
}

.user-name {
  font-weight: bold;
}

.kpt-date {
  color: #666;
  font-size: 12px;
}

.kpt-list {
  display: flex;
  padding: 8px 0;
  &__item {
    width: 33%;
    margin-right: 16px;
  }
}
.kpt-title {
  margin-bottom: 8px;
  padding-left: 4px;
  border-left: 4px solid #11BEDD;
  color: #11BEDD;
  font-weight: bold;
}

.kpt-content-list {
  &__item {
    margin-top: 4px;
    padding-bottom: 2px;
    border-bottom: 2px dotted #E5E5E5;
    line-height: 1.5;
  }
}

.footer {
  margin: 80px 0 24px;
  text-align: center;
  &__center {
    color: #666;
    font-size: 12px;
  }
}